# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\My Codes & Projects\Codes\Online-Judge-Solutions\UVa Online Judge\C++\299 - Train Swapping\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
