# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\My Codes & Projects\My Codes\Online Judges\UVA Online Judge\Competitive Programming 3 The New Lower Bound of Programming Contests (Steven & Felix Halim)\Introduction\Getting Started The Easy Problems\Super Easy\C++\CLion Workspace\12372 - Packing for Holiday\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
