# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\My Codes & Projects\My Codes\Online Judges\UVA Online Judge\C++\CLion Workspace\12577 - Hajj-e-Akbar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
