# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\My Codes & Projects\UVa Online Judge\Competitive Programming 3\Introduction\Easy\11942 - Lumberjack Sequencing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
