# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\My Codes & Projects\My Codes\Online Judges\Code Forces\C++\CLion Workspace\1A - Theatre Square\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
