# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\12468 - Zapping\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
